/* Share Tech Mono (for headings) */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

/* Roboto (basic typo) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/* Fira Code (for ligatures only {buttons}) */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background-color: black;
    color: white;
}

::selection {
    background-color: white;
    color: black;
}




/* nav-bar (container) */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 4rem;

    font-family: 'Share Tech Mono';
}
#branding {
    cursor: default;
}

/* navigation menu */
.nav--bar {
    display: flex;
    gap: 5rem;

    list-style: none;
}

/* NAVIGATION MENU anchor list styling */
.nav--bar > li > a {
    text-decoration: none;
    color: white;
    font-family: 'Share Tech Mono';
}
/* NAVIGATION MENU anchor list hover-states */
.nav--bar > li > a:hover {
    text-decoration: underline;
}

/* navbar when hamburger-menu opens */
.nav--bar[aria-expanded=true] {
    display: flex;
    flex-direction: column;

    padding: 25rem 0 5rem 2.5rem;

    position: fixed;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}



/* hamburger menu */
.hamburger {
    aspect-ratio: 1;

    display: grid;
    gap: 0.3rem;
}

/* hamburger menu bars */
.bar {
    background-color: white;

    height: 2px;
    width: 20px;

    transition: 250ms;
    transform-origin: left;
}

/* hamburger active-states (data-visible) value */
.hamburger[data-visible=true] .bar:first-child {
    rotate: 49deg;
}
.hamburger[data-visible=true] .bar:nth-child(2) {
    opacity: 0;
}
.hamburger[data-visible=true] .bar:last-child {
    rotate: -49deg;
}



/* MEDIA QUERIES */

@media (max-width: 1024px) {
    .nav--bar {
        gap: 3rem;
    }
    nav {
        margin: 1rem 2rem;
    }
}

/* navigation menu-display (none) */
@media (max-width: 768px) {
    .nav--bar {
        display: none;
    }

    .hero-section {
        width: 85%;
        margin: auto;
        font-size: 2.5rem;
    }
}

/* hamburger-display (none) */
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .hero-section {
        width: 50%;
        margin: auto;
        font-size: 3rem;
    }
    .hero {
        margin: 10rem 4rem;
    }

    .content-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .content-box-text {
        width: 55%;
        margin: auto;
        font-size: 1.5rem;
    }
}
@media (max-width: 768px) {
    .hero {
        margin: 10rem 1.5rem;
    }
    
    .content-box {
        display: grid;
        grid-template-columns: 1fr;
    }
    .content-box-text {
        width: 85%;
        margin: auto;
        margin-top: 2.5rem;
        text-align: center;
        font-size: 1rem;
    }
}





/* INTRODUCTION (text) */
.hero > h1 {
    font-family: 'Open Sans';
    font-size: 3.5rem;
    margin-bottom: 3rem;
}
.hero > p {
    font-family: 'Open Sans';
    line-height: 1.5rem;
}
.hero > p > a {
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

/* INTRODUCTION (image) */
.hero-image > img {
    background-size: cover;
    background-position: center;
    width: 100%;

    margin: 5rem 0;
}

.hero-section {
    font-family: 'Roboto';

    margin: auto;
    text-align: center;
}

/* Main Content Box */
.main-content {
    margin: 0 3.5rem;
}

.content-box-image img {
    width: 100%;
}
.content-box-text p {
    font-family: 'roboto';
}

.content-box {
    margin: 7.5rem 0;
}



/* general-use button */
button {
    margin-top: 2rem;
    padding: 1rem 2rem;

    border: none;
    outline: none;
    background-color: white;
    color: black;
    border-radius: 5rem;

    font-family: "Fira Code";
    font-size: 0.7rem;

    transition: 0.3s;
}
button:hover {
    background-color: black;
    color: white;
    outline: 1px solid white;
    cursor: pointer;
}


/* same media on diff line for management */
@media (max-width: 768px) {
    .intro--phase3 {
        font-size: 1.5rem;
        width: 75%;
    }

    .intro--last {
        display: grid;
        grid-template-columns: 1fr;
    }

    .links {
        margin: 15rem 2.5rem;
    }

    .footer > h3 {
        font-size: 1.8rem;
    }
}
@media (min-width: 768px) {
    .intro--phase3 {
        font-size: 3rem;
        width: 45%;
    }

    .intro--last {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .links {
        margin: 15rem 10rem;
    }
}

.intro--phase3 {
    margin-top: 5rem;
    font-family: 'Roboto';
    margin: auto;
    text-align: center;
}

.intro--last {
    margin-top: 5rem;
    padding: 0 3rem;
    gap: 3rem;
}
.intro--last img {
    max-width: 100%;
    margin: auto;
}
.intro--last h3 {
    font-size: 1.25rem;
    word-spacing: 0.3rem;
    margin: 1rem 0;
    font-family: 'Roboto';
}
.intro--last p {
    font-family: 'Roboto';
    font-size: 0.85rem;
}


.links {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
}
.links img {
    width: 100%;
    transition: 200ms;
}
.links img:hover {
    transform: scale(1.25);
}

footer {
    display: grid;
    place-items: center;

    width: 80%;
    margin: auto;
    text-align: center;

    font-family: 'Fira Code';

    margin-bottom: 10rem;
}